/* You can add global styles to this file, and also import other style files */

#sogetiLogo {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#sogetiLogo svg {
  fill: #ef4527;
}

.hidden {
  display: none !important;
}

.visible {
  display: block !important;
}

.appContainer {
  width: 85%;
  background-image: url('http://www.polyvore.com/cgi/img-thing?.out=jpg&size=l&tid=25467017');
  max-width: 800px;
  margin: 0 auto;
  display: block;
  height: auto;
}

body {
  overflow: hidden;
}
